.body_backgorund {
  background-image: url("https://s3.envato.com/files/190826561/pencil%20IMG_0372.jpg");
  background-position: center;
  background-size: cover;
}
h1
{
	color: black; 
	font-size: 40px;
}

#myCanvas
{
	border-width:10px;
	background-color: white; 
	border-style:ridge;
}
span
{
	font-size: 20px;
}
body{
    cursor: pointer;
  }
 

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  